body {
    background: #cfc url(http://paper-backgrounds.com/textureimages/2012/06/yellow-aged-paper-background-hd.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

header {
    height: 100px;
    background-image: url('headerbackground.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

header img {
    height: 100%;
    width: 25%;
}

header h1 {
    float: right;
}

.nav.navbar-nav.navbar-left li a {
    color: black;
    padding-left: 60px;
}

.nav.navbar-nav.navbar-right li a {
    color: black;
}

.container-fluid {
  background-color:#3A5FCD;
    color: black;
  }

#steve {
     margin-top: -20px;
    float: left;
}

.aboutme {

    height: 400px;
    width: 440px;
    background-image: url(http://bgfons.com/upload/wood%20_texture551.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    float: right;
}

.aboutme h1 {
    font-size: 50px;
}

.aboutme li {
    font-size: 20px;
    color: black;
    padding-left: 10px;
}

#awards {
    padding-left: 80px;
}

#aboutme {
    background-color: white;
}

.line-separator{
    height:1px;
    background:#717171;
    border-bottom:1px solid #313030;

}

#aboutme h1 {
    padding-left: 20px;
}

#aboutme h4 {
    padding-left: 20px;
}


footer {
    height: 70px;
    background-image: url('headerbackground.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.row img {
    padding-top: 10px;
}

#relaxsteve {
    padding-left: 60px;
}

#credentials {
    padding-left: 450px;
}